[project]
	description = Tunnel 89, a simple TI-89 assembly game
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jordan Clifford (jcliff)
[access "refs/for/refs/*"]
	read = group user/Jordan Clifford (jcliff)
	push = group user/Jordan Clifford (jcliff)
	label-Code-Review = -2..+2 group user/Jordan Clifford (jcliff)
	label-Verified = -1..+1 group user/Jordan Clifford (jcliff)
	rebase = group user/Jordan Clifford (jcliff)
	removeReviewer = group user/Jordan Clifford (jcliff)
	submit = group user/Jordan Clifford (jcliff)
[access "refs/heads/*"]
	read = group user/Jordan Clifford (jcliff)
	create = group user/Jordan Clifford (jcliff)
	push = +force group user/Jordan Clifford (jcliff)
	pushMerge = group user/Jordan Clifford (jcliff)
[access "refs/tags/*"]
	push = +force group user/Jordan Clifford (jcliff)
	pushTag = group user/Jordan Clifford (jcliff)
	pushSignedTag = group user/Jordan Clifford (jcliff)
